<!DOCTYPE html>
<html>
<head>
  <title>Locksmith</title>
  <%= stylesheet_link_tag    "locksmith/application", media: "all" %>
  <%= javascript_include_tag "locksmith/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
